<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="attendance">
      <h2 data-cy="attendanceDetailsHeading"><span jhiTranslate="schoolApp.attendance.detail.title">Attendance</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ attendance.id }}</span>
        </dd>
        <dt><span jhiTranslate="schoolApp.attendance.date">Date</span></dt>
        <dd>
          <span>{{ attendance.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="schoolApp.attendance.student">Student</span></dt>
        <dd>
          <span *ngFor="let student of attendance.students; let last = last">
            <a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/attendance', attendance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
